[Unit]
Description=Web Irrigator service
After=multi-user.target
StartLimitIntervalSec=30
StartLimitBurst=2
[Service]
Type=simple
Restart=always
RestartSec=30s
Environment=OWM_API_KEY={{ OWM_API_KEY }}
Environment=LOCATION_LAT={{ LOCATION_LAT }}
Environment=LOCATION_LON={{ LOCATION_LON }}
User=pi
WorkingDirectory=/home/pi/irrigator/app
ExecStart=/usr/bin/python3 /home/pi/irrigator/app/web.py
[Install]
WantedBy=multi-user.target
# /etc/systemd/system/web-irrigator.service 
# systemctl daemon-reload
# systemctl enable irrigator
# systemctl start irrigator