<html>
<head>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" >
</head>
<body>
    <h3>Irrigator Relay Control<h3/>
        <form method="post" action="/">
            <button type="submit" class="block_green" name="i-action" id="on" value="on">On</button>
            <br>
            <button type="submit" class="block_red" name="i-action" id="off" value="off">Off</button>
            <br>
            Weather: Precipitation Today {{ output.weather.precipitation }} | Yesterday {{ output.weather.yesterdayPrecipitation }} | Enough? {{ output.weather.enoughPrecipitation }}
            <br>
            Status: {{ output.status }}
            <br>
            <pre>
            History: {{ output.history }}
            </pre>
        </form>
</body>
</html>